body {
  background-color: LightGray;
}

div {
  border: 1px solid Chocolate;
}

/* General Styles */

html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif; 
  font-size: 16px; 
  color: #838994; 
  letter-spacing: 0.03em;
  
}

/*  Navigation Section */

.top-nav {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.top-nav img {
  height: 70px;
}

.links {
  float: right;
  display: inline-block;
  list-style: none;
  padding-top: .5rem;
}

.links a {
  -webkit-transition: color .5s ease;
     -moz-transition: color .5s ease;
      -ms-transition: color .5s ease;
          transition: color .5s ease;
  text-decoration: none;
  color: #838994;
  font-size: 1.04rem;
}

.links a:hover {
  color: #4f545b;
}

.active a {
  color: #4c5058;
  font-weight: 600;
}

.content {
  padding: 0 15px
}

li {
  display: inline-block;
  margin-left: 1.7rem;
}

/*  Hero section  */

#hero {
  background-image: url('../images/background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 41.5rem;
}

#hero-title {
  color: #fff;
  text-align: center;
  width: 970px;
  margin: 0 auto;
  padding-top: 15rem;
}

#hero h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: lighter;
}

#hero h3 {
  margin: 0;
  font-size: 1.475rem;
  font-weight: lighter;
  padding: 1rem 0;
}

button {
  height: 3.5rem;
  width: 10rem;
  background-color: #f15a29;
  border-radius: 4px;
  border-style: none;
  font-size: 1.125rem;
  cursor: pointer;
}

button:hover {
  background-color: #d9400e;
}

/*  Main Section  */

.cases {
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 5rem;
}

.cases .content {
  margin-top: 7.875rem;
  color: #1d1e21;
  text-align: center;
}

.cases h2 {
  font-size: 2.75rem;
  font-weight: 300;
  margin: 1.625rem 0 3.125rem;
  padding: 0;
}

.cases .devices ul {
  padding: 0;
  margin: 0;
}

.cases .devices li {
  display: inline-block;
  margin-left: 0;
  margin-right: 1.7rem;
  width: 33.333333%;
  float: left;
  border: 1px solid red; /*  Remove later  */

}

.cases .devices li:last-child {
  margin-right: 0;
}

#first {
  margin-left: -3.5rem;
}

.caption h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

